.imgb{
    width: 240px;
    height: 255px;
}
.bg1ABC9C{
    background-color: #1ABC9C;
    height: 90vh;
}
.title{
    font-family: "Montserrat", sans-serif;
font-size: 64px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
}
.par{
    font-family: "Lato", sans-serif;
font-size: 24px;
font-weight: 400;
color: #ffffff;
}