.title{
    font-family: "Montserrat", sans-serif;

    font-size: 24px;
font-weight: 700;
text-transform: uppercase;
    color: #ffffff;
    padding-top: 45px;
}
.bg2C3E50{
    background-color: #2C3E50;
}